@import url(./main.css);

main{
    display: block;
    justify-content: center;
}

.presentation__section{
    margin: auto;
    text-align: center; 
    font-family: Overpass;
    color: var(--prymary-very-dark-blue);
    overflow: hidden;
    max-width: 1680px;
    width: 100%;
}
.presentation__div__container{
    width: 100%;
    display: grid;
    justify-items: center;
}

.presentation__div__svg{
    background-image: url("../assets/images/illustration-editor-mobile.svg");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    max-width: 480px;
    width: 100%;
    max-height: 700px;
    height: calc(45vh + (100vw - 0px)* 0.4);
}
.presentation__div__svg__2{
    background-image: url("../assets/images/illustration-laptop-mobile.svg");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    max-width: 480px;
    width: 100%;
    max-height: 800px;
    height: 350px;
}
.presentation__h2{
    position: relative;
    top:60px;
    font-size: 24px;
    font-weight: 600;
    padding: 1.5em;
}

.presentation__div__text{
    display: grid;
    justify-items: center;
}

.presentation__div__text h3{
    font-size: 22px;
    font-weight: 600;
    padding: 1em;
}

.presentation__div__text p{
    color: var(--neutral-very-dark-grayish-blue);
    width: 75%;
    font-weight: lighter;
    word-spacing: 0.15em;
    line-height: 2em;
}
.presentation__div__text__inverted{
margin-bottom: 100px;
}

@media screen and (min-width:480px) {
    .presentation__div__svg{
     height: calc(45vh + (50vw - 0px)* 0.25);
 }
}


@media screen and (min-width:768px) {

.presentation__div__svg{
    background-image: url("../assets/images/illustration-editor-desktop.svg");
   /*  background-position-x:-10% ; */
       background-position-y:20% ; 
    max-width: none;
    width: 110%;

}
.presentation__div__svg__2{
    background-image: url("../assets/images/illustration-laptop-desktop.svg");
    background-position-x:-10% ;
    /*   background-position-y:20% ; */
    max-width: none;
    width: 120%;
    height: calc(45vh + (50vw - 0px)* 0.4);
}
.presentation__div__text__inverted{
    grid-column: 2 !important;
    padding-right: 5em;
}
.presentation__div__container{
    grid-template-columns:50% 50%;
    align-items: center;

}

.presentation__div__text{
    text-align:center ;
    grid-column: 1 ;
    grid-row: 1
}

.presentation__div__text h3 span {
    display: none;
}
}


@media screen and (min-width:1024px) {

.presentation__h2{
    position: relative;
    top:60px;
    padding:0;

}
.presentation__div__svg{
    background-image: url(../assets/images/illustration-editor-desktop.svg);
    background-position-x: 150px;
    max-width: none;
    max-height: none;
 /*    width: 150%; */
    margin-left: 10%;
    z-index: 3;
}

.presentation__div__text h3 , 
.presentation__div__text p{
    width: 100%;
    text-align: left;
    margin-left: 15%;
}

}


@media screen and(min-width:1280px) {
    .presentation__section{
    overflow:visible;
 }
 .presentation__div__svg__2{
    height:800px;
    background-size: 90% !important;
    width:100%;
}
}
@media screen and(min-width:1440px) {
    .presentation__section{
    display:flex;
    justify-content: center;
 }
    .presentation__div__svg{
        background-position-x:unset !important;
        margin-left: unset;
    }
}